h1{
  font-family: "VT23";
  padding-top: 25vh;
  cursor: default;
}

body{
  font-family: "PT Sans";
  font-size: 12px;
  cursor: default;
}

.material-icons.md-18 { font-size: 18px; }

#info{
  margin: 0;
  width: 30vw;
}

#basic-info{
  margin: 10px;
}

@keyframes blinx{
  from {opacity: 0.05;}
  to{opacity: 1;}
}

#sowilo{
  opacity: 0.05;
  animation-name: blinx;
  animation-duration: 1.5s;
  animation-timing-function: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: infinite;
}

#sw-button{
  cursor: pointer;
}

.hide-info{
  height: 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.show-info{
  height: 10px;
  opacity: 1;
  transition: all 0.5s ease; 
}

.rot{
  transform: rotate(30deg);
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}

.rot-back{
  transform: rotate(-30deg);
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}

.move-down{
  padding-top: 8px;
}

#mail-me{
  cursor: pointer;
}


